$pink: #fe2c55;
$black: #000;
$white: #fff;
$light__silver: #f8f8f8;
$silver: #dcdede;
$dark__silver: #a5a3b2;
$light__blue: #f1f7fb;
$dark__blue: #88b9d9;
$green: #5bcda0;
$ff: 'Muli', sans-serif;
$fz: 16px;